# How to split our dataset into train and test

# sets

In this section, we are going to explore 2 different ways one can use to create training and
testing sets.

Before jumping into these approaches, let’s create a dummy dataset that will use for
demonstration purposes.

In the examples below, we will assume that we have a dataset stored in memory as a pandas
DataFrame.

The iris dataset contains 150 data points, each of which has four features.

In [2]:
import seaborn as sns
import pandas as pd

In [ ]:
# From sk.learn library we are loading the iris dataset and imporing it

In [6]:
from sklearn.datasets import load_iris

In [10]:
# We are creating an object for the iris data and turing it into a dataframe using .data, and specifying the column names with 
# .feature_names

In [9]:
iris_data=load_iris()
df=pd.DataFrame(iris_data.data,columns=iris_data.feature_names)
print(df)

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                  5.1               3.5                1.4               0.2
1                  4.9               3.0                1.4               0.2
2                  4.7               3.2                1.3               0.2
3                  4.6               3.1                1.5               0.2
4                  5.0               3.6                1.4               0.2
..                 ...               ...                ...               ...
145                6.7               3.0                5.2               2.3
146                6.3               2.5                5.0               1.9
147                6.5               3.0                5.2               2.0
148                6.2               3.4                5.4               2.3
149                5.9               3.0                5.1               1.8

[150 rows x 4 columns]

In [11]:
df.describe()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm)
count,150.000000,150.000000,150.000000,150.000000
mean,5.843333,3.057333,3.758000,1.199333
std,0.828066,0.435866,1.765298,0.762238
min,4.300000,2.000000,1.000000,0.100000
25%,5.100000,2.800000,1.600000,0.300000
50%,5.800000,3.000000,4.350000,1.300000
75%,6.400000,3.300000,5.100000,1.800000
max,7.900000,4.400000,6.900000,2.500000

# Using pandas

The first option is to use pandas DataFrames’ method sample():
Return a random sample of items from an axis of object. You can use random_state for
reproducibility
We initially create the training set by taking a sample with a fraction of 0.8 from the overall rows
in the pandas DataFrame.
Note that we also define random_state which corresponds to the seed, so that results are
reproducible.
Subsequently, we create the testing set by simply dropping the corresponding indices from the
original DataFrame which are now included in the training set.x

In [15]:
training_data.index

Int64Index([ 28,  72,  70,  85, 128,  65, 127,  42,  81,  93,
            ...
              5,   2,  38, 112, 107, 104, 101,  30,  98, 141],
           dtype='int64', length=120)

In [16]:
training_data=df.sample(frac=0.8,random_state=25)
testing_data=df.drop(training_data.index)

In [20]:
training_data.shape

(120, 4)

In [19]:
testing_data.shape

(30, 4)

# Using scikit-learn

The second option — and probably the most commonly used — is the use of sklearn ‘s method
called train_test_split():
Split arrays or matrices into random train and test subsets
We can create both the training and testings sets in a one-liner by passing to train_test_split()
the modelling DataFrame along with the fraction of the examples that should be included in the
testing set.
As before, we also set a random_state so that the results are reproducible, that is every time we
run the code, the same instances will be included in the training and testing sets respectively.
The method returns a tuple with two DataFrames containing the training and testing examples

In [ ]:
# From sklearn library we are making use of method - model_selection and import the function train_test_split

In [21]:
from sklearn.model_selection import train_test_split

In [ ]:
# test_size is the percentahe of the instances that should be involved in the test set the default will be 25% 
# random_state is the randomness in the training set

In [27]:
training_data,testing_data= train_test_split(df,test_size=0.2,random_state=25)

In [28]:
print(f"No. of training examples: {training_data.shape[0]}")
print(f"No. of testing examples: {testing_data.shape[0]}")

No. of training examples: 120
No. of testing examples: 30